@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	font: 100%/1.4 Times, Times New Roman, serif;
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	color: #000;
}
.homePage {
	background: #000000;
}
.container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.header {
	background: linear-gradient(to right, #00693E, #EBDED6, #00693E);
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: linear-gradient(to right, #7C0C1E, #C5172D, #7C0C1E);
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #FFFFFF;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: linear-gradient(to right, #0F4C4D, #1C9B9A, #0F4C4D);
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
